<div class="row">
  <div class="col-md-5">
    <h4>Create Employee</h4>
    <hr />
    <div class="card card-body bg-light">
      <form class="form-horizontal">
        <div class="form-group">
          <label> firstName </label>
          <input
            type="text"
            [(ngModel)]="firstName" [ngModelOptions] ="{standalone: true}"

            class="form-control"
            name=""
            placeholder="firstName"
            value=""
          />
        </div>
        <div class="form-group">
          <label> lastName </label>
          <input
            type="text"
            [(ngModel)]="lastName" [ngModelOptions] ="{standalone: true}"
            class="form-control"
            name=""
            placeholder="lastName"
            value=""
          />
        </div>
        <div class="form-group">
          <label> Adress </label>
          <input
            type="text"
            [(ngModel)]="address" [ngModelOptions] ="{standalone: true}"
            class="form-control"
            name=""
            placeholder="address"
            value=""
          />
        </div>
        <div class="form-group">
          <label> Mobile </label>
          <input
            type="text"
            [(ngModel)]="mobile" [ngModelOptions] ="{standalone: true}"
            class="form-control"
            name=""
            placeholder="Mobile"
            value=""
          />
        </div>
        <br />

        <div class="form-group">
          <button type="reset" class="btn btn-danger pull-right" (click)="clear()">clear</button>
          &nbsp;
          
          <button type="submit" class="btn btn-primary pull-right " (click)="save()" >Save</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-7">
    <h4>List Employee</h4>
    <hr>
    <div class="card card-body bg-light">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">firstName</th>
            <th scope="col">lastName</th>
            <th scope="col">Adress</th>
            <th scope="col">Mobile</th>
            <th scope="col">option</th>
          </tr>
        </thead>

        <tbody>
            <tr *ngFor="let employeItems of employeeArray">
                <th scope="row">{{ employeItems.id }}</th>
                <td>{{ employeItems.firstName }}</td>
                <td>{{ employeItems.lastName }}</td>
                <td>{{ employeItems.address }}</td>
                <td>
                  {{ employeItems.mobile }}
                </td>
              <td>
                <button  class="btn btn-primary pull-right" (click)="setUpdate(employeItems)"><i class="fa fa-wrench" aria-hidden="true"></i>
                </button> &nbsp;
                <button  class="btn btn-danger pull-right" (click)="setDelete(employeItems)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>

          
        </tbody>
      </table>
    </div>
  </div>
</div>
